body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	#background-color: #2e2929;
	#color: #efe8e8;
}

#grid-container {
	display: grid;
	grid-template-rows:auto 1fr auto;
	grid-template-columns:100%;
	min-height:100vh;
	min-height:100svh;
}

#grid-container > header {
	padding:2rem;
}
#grid-container > article {
	padding:2rem;
}
#grid-container > footer {
	padding:2rem;
}

#main {
	text-align: center;
	/*font-size: 2.5em;*/
	font-weight: 700;
	margin-top: 0.2em;
	margin-bottom: 0em;
}

#main_full {
	text-align: center;
	margin-top: 0em;
}

#text {
	text-align: justify;
	text-justify: inter-word;
}

#sign {
	text-align: left;
}

a {
	color: #dc8100;
	text-decoration: none
}

a:hover {
	color: #efe8e8;
	text-decoration: none
}